body {
    background-color: rgb(177, 156, 217)
}
h1 {
    color: beige;
    font-family: cursive;
    text-align: center;
}
div.nwjnsPic, img {
    width: 300px;
    float: left;
    border-top-right-radius: 52px;
    border-bottom-right-radius: 52px;
    padding-right: 20px;
}
.about {
    text-size-adjust: 1.5px;
    font-family: cursive;
    
}

/* .image_preview_container {
  mask-image: linear-gradient(to right, rgba(0, 0, 0, 1.0) 50%, transparent 100%);
}
.image_preview {
  background-image: url("IMAGE LOCATION");
}
*/