body {
    background-color: rgb(177, 156, 217);
    font-family: cursive;
    text-size-adjust: 1.5px;
}
h1 {
    color: beige;
    font-family: cursive;
    text-align: center;
}
div.nwjnsPic, img {
    width: 500px;
    float: left;
    border-top-right-radius: 52px;
    border-bottom-right-radius: 52px;
    padding-right: 20px;
}

ul, p {
  text-size-adjust: 1px;;
}

